<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.undownding.music.service">

    <application android:name="me.undownding.music.MusicApplication"
        android:allowBackup="true">
        
        <service android:name="me.undownding.music.service.PlayingService" />

    </application>

</manifest>
